table{
  width: 100%;
}
a{
  text-decoration: none;
  color:inherit;
}

.timeslot{
  background: #ccc;
  color: black;
}
.dk4{
  background-color: #548c0d;
}
.dk8{
  background-color: #289db1;
}
.dk12{
  background-color: #901b69;
}
.dkP{
  background-color: #666;
}
.dkTech{
  background-color: rgb(74 141 155);
}

.mat-row {
  height: auto;
}

.mat-cell, .mat-header-cell {
  padding: 8px 8px 8px 8px;
}
