<section class="trackgrid">
  <table mat-table [dataSource]="tableDS">
    <!-- Zeit Column -->
    <ng-container matColumnDef="Zeit">
      <th mat-header-cell *matHeaderCellDef class="timeslot"> Zeit </th>
      <td mat-cell *matCellDef="let element" class="timeslot"> <div  [innerHTML]="element.Zeit"></div> </td>
    </ng-container>
    <!-- Raum Columns -->
    <ng-container *ngFor="let disCol of roomNames; let colIndex = index" matColumnDef="{{disCol}}">
      <th mat-header-cell *matHeaderCellDef class="timeslot">{{disCol}} </th>
      <td mat-cell *matCellDef="let element " [ngClass]="element[disCol]['dkStyle']">
        <a *ngIf="element[disCol]['DetailLink'] !== ''" [href]="element[disCol]['DetailLink']" target="_blank"><div [innerHTML]="element[disCol]['Vortragende']"></div></a>
        <div *ngIf="element[disCol]['DetailLink'] === ''" [innerHTML]="element[disCol]['Vortragende']"></div>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns.concat(roomNames)"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns.concat(roomNames);"></tr>
  </table>
</section>
