table{
  width: 100%;
}

.cell-link {
  cursor: pointer;
}
a{
  text-decoration: none;
  color:inherit;
}

.timeslot{
  background: #ccc;
  color: black;
}
.dk4{
  background-color: #548c0d;
  color: white;
}
.dk8{
  background-color: #289db1;
  color: white;
}
.dk12{
  background-color: #901b69;
  color: white;
}
.dkP{
  background-color: #666;
  color: white;
}
.dkTech{
  background-color: rgb(74 141 155);
  color: white;
}

.mat-row{
  height: auto;
}

.mat-cell, .mat-header-cell {
  padding: 8px 8px 8px 8px;
}

.mat-grid-tile {
  overflow: hidden;
}

.mat-grid-tile img {
  max-width: 144px;
  width: 100%;
  height: auto;
}

.favorite-star {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 24px;
  height: 24px;
  padding: 0;
  min-width: 24px;
  line-height: 24px;

  .mat-icon {
    width: 16px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
  }
}

td {
  position: relative;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.favorites-button {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 1000;
  background-color: rgba(200 , 200, 200, 0.7);
}
