/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

th {
  font-weight: 500;
}

.digikomp-badge {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 12px;
  font-size: 0.8rem;
  color: white;
  margin-bottom: 4px;
}
.presenter {
  margin-bottom: 16px;
  font-weight: 500;
}

.description {
  line-height: 1.6;
}

.dk4    { background-color: #548c0d; }
.dk8    { background-color: #289db1; }
.dk12   { background-color: #901b69; }
.dkP    { background-color: #666; }
.dkTech { background-color: rgb(74 141 155); }
